body {
    font-family: 'PT Sans', sans-serif;
}

table {
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    position: fixed;
    border: 1px solid black;
}
#special{
    width: 500px;
    padding: 30px;
    height: 40px;
}
th,
td,
tr {
     
    padding: 30px;
    height: 40px;
}

.container {
    margin: 300px;
    padding: 40px;
}

ul {
    list-style: none;
}

a {
    color: #FF0000;
}


/* Unvisited link  */

a:visited {
    color: black;
}


/* Visited link    */

a:hover {
    color: #FF00FF;
}


/* Mouse over link */

a:active {
    color: #0000FF;
}


/* Selected link   */